#images{
    
    height: 600px;
    width: 30%;
    border-style: inset;
    border: 5px inset grey;
    
}



#redhoodmain{

    height: 600px;
    width: 100%;
    
}

#redhood1{

    height: 600px;
    width: 100%;
    display: none;

}