#story{
    
    height: 600px;
    width: 30%;
    border-style: inset;
    border: 5px inset grey;
    display: flex;
    align-items: center;
    justify-content: center;    
    background-image: url("/img/fondolibreta.webp");
       
}

#contentstory{
    
    height: 450px;
    width: 80%; 
 
}

#textmain{

    font-size: 60px;
    text-align: center;
    margin-top: 150px;
    height: 400px;
    font-family: Papyrus;
   
}


#textstory1,#textstory2,#textstory3,#textstory4{
    
    font-size: 30px;
    text-align: justify;
    margin-top: 150px;
    height: 400px;
    display: none;
        
}

