@import url("story.css");
@import url("images.css");
@import url("button.css");


header{

    height: 250px;
    text-align: center;
    background-color: #f9f5dc;

}

main{

    background-color: #f9f5dc;

}

#content{
    
    height: 650px;
    display: flex;
    align-items: center;
    justify-content: center;    

}






